{% extends "ppaginas/baseInicio.html" %}

{% load static %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-secundary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Escuelas</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-secundary mb-4"></i>
                            <h5><a  class = "text-white" href="https://eciencias.ingenieria.usac.edu.gt/" target="_blank">Escuela de ciencias</a></h5>
                        </div> 
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-secundary mb-4"></i>
                            <h5><a  class = "text-white" href="http://civil.ingenieria.usac.edu.gt/home/" target="_blank">Escuela de ingeniería civil</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-secundary mb-4"></i>
                            <h5><a  class = "text-white" href="https://equimica.ingenieria.usac.edu.gt/index.php" target="_blank">Escuela de ingeniería química</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-secundary mb-4"></i>
                            <h5><a  class = "text-white" href="https://emecanica.ingenieria.usac.edu.gt/sitio/" target="_blank">Escuela de ingeniería mecánica</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-secundary mb-4"></i>
                            <h5><a  class = "text-white" href="http://eime.ingenieria.usac.edu.gt/" target="_blank">Escuela de ingeniería mecánica eléctrica</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-secundary mb-4"></i>
                            <h5><a  class = "text-white" href="https://emi.ingenieria.usac.edu.gt/" target="_blank">Escuela de ingeniería mecánica industrial</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-secundary mb-4"></i>
                            <h5><a  class = "text-white" href="https://dtt-ecys.org/" target="_blank">Escuela de ingeniería en ciencias y sistemas</a></h5>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- Service End -->


{% endblock %}