{% extends "ppaginas/baseperfil.html" %}

{% load static %}

{% block content %}
        <!-- Content Start -->
        <div class="">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="{% static 'proyectopagina/img/user.jpg '%}" alt="" style="width: 40px; height: 40px;"><!--modificacion-->
                            <span class="d-none d-lg-inline-flex"> 
                            
                            {%if user.is_authenticated %} <!--Para verificar si esta dentro-->
                            {{user.username}} <!--Mostroar el nombre del usuario-->
                            
                            {% else %}

                            {% endif%}
                            </span><!--Nombre del usuario-->
                        </a>

                        <div class="dropdown-menu dropdown-menu-end bg-white border-0 rounded-0 rounded-bottom m-0">
                            <a href="{% url 'user_profile' username=user.username %}" class="dropdown-item">Ver perfil</a>                            

                            <a href="{% url 'cerrar_sesion'%}" class="dropdown-item">Log Out</a> 
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->




            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-3">
                    <div class="col-sm-6 col-xl-3">
                        <div class="btn btn-lg btn-secondary m-2 rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-user fa-3x text-primary"></i>
                            <div class="ms-2">
                                <a href="{% url 'lista_cursos' %}">Inscribirse en el curso</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="btn btn-lg btn-secondary m-2 rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <a href="{% url 'desasigna'%}" class="">Desasignar Cursos</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="btn btn-lg btn-secondary m-2 rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <a href="" class="">Mis Cursos</a>
                                <h6 class="mb-0"></h6>
                            </div>
                        </div>
                    </div>
 
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Notificaciones</h6>
                                <a href="#">Ver</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calendario</h6>
                                <a href="#">Ver</a>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Tareas</h6>
                                <a href="#">Ver</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->

{% endblock %}            