{% extends "ppaginas/basesesion.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- Sign Up Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="" class="">
                                <h3 class="text-white"><i class="fa fa-user-edit me-2"></i>Registrate</h3>
                            </a>
                            <h3><a href="{% url 'Inicio'%}">Inicio</a></h3>
                        </div>
<!--
                        <form method="post" action="" style="color: white;">

                            {% csrf_token%}
                        
                            {{form|crispy}}
                        
                            <button type="submit" class="btn btn-success">Registrate</button>

                            </form> -->

                            <form method="post">
                                {% csrf_token %}
                                {{ form.Nombre.label_tag }} 
                                {{ form.Nombre }}
                                <span class="tooltip" title="Ingresa tu nombre">
                                    <i class="fas fa-question-circle"></i>
                                </span><br>
                            
                                {{ form.Apellido.label_tag }} 
                                {{ form.Apellido }}
                                <span class="tooltip" title="Ingresa tu contraseña.">
                                    <i class="fas fa-question-circle"></i>
                                </span><br>
                            
                                {{ form.DPI.label_tag }} 
                                {{ form.DPI }}
                                <span class="tooltip" title="Confirma tu contraseña.">
                                    <i class="fas fa-question-circle"></i>
                                </span><br>
                            
                                {{ form.Fecha.label_tag }} 
                                {{ form.Fecha }}
                                <span class="tooltip" title="Ingresa tu nombre.">
                                    <i class="fas fa-question-circle"></i>
                                </span><br>
                            
                                {{ form.Telefono.label_tag }} 
                                {{ form.Telefono }}
                                <span class="tooltip" title="Ingresa tu dirección de correo electrónico.">
                                    <i class="fas fa-question-circle"></i>
                                </span><br>
                            
                                {{ form.Usuario.label_tag }} 
                                {{ form.Usuario }}
                                <span class="tooltip" title="Ingresa tu número de teléfono.">
                                    <i class="fas fa-question-circle"></i>
                                </span><br>
                            
                                {{ form.Correo.label_tag }}
                                {{ form.Correo }}
                                <span class="tooltip" title="Selecciona tu fecha de nacimiento.">
                                    <i class="fas fa-question-circle"></i>
                                </span><br>

                                {{ form.Contraseña.label_tag }} 
                                {{ form.Contraseña }}
                                <span class="tooltip" title="Selecciona tu fecha de nacimiento.">
                                    <i class="fas fa-question-circle"></i>
                                </span><br>

                                {{ form.Confirmacion.label_tag }} 
                                {{ form.Confirmacion }}
                                <span class="tooltip" title="Selecciona tu fecha de nacimiento.">
                                    <i class="fas fa-question-circle"></i>
                                </span><br>

                                <input type="submit" class="btn btn-primary rounded-pill m-2" value="Registrarse">
                            </form>
                            
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign Up End -->
    </div>



{% endblock %}