{% extends "ppaginas/basesesion.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    
        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="" class=""><!--Para enlazar estudiante-->
                                <h3 class="text-white"><i class="fa fa-user-edit me-2"></i>Ingresa a tu cuenta</h3>
                            </a>
                            <h3><a class="btn btn-square btn-dark m-2" href="{% url 'Inicio'%}"><i class="fa fa-home"></i></a></h3><!--Para enlazar a inicio-->
                        </div>
                        <div class="form-floating mb-3">
                        </div>

                            <form method="post" action="" style="color: white;">

    {%csrf_token %}

    <div style="width: 75%; margin: auto;">
    {{form|crispy}}
    
    <button type="submit" class="btn btn-success">Login</button>
</div>

</form>


                        <p class="text-center mb-0">¿No tienes una cuenta? <a href="Registro">Registrate</a></p><!--Para cargar signup-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>



{% endblock %}