<!DOCTYPE html>
<html>
<head>
    <title>Perfil de Usuario</title>
</head>
<body>
    <h1>Perfil de Usuario: {{ user.username }}</h1>
    <p>Nombre: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Correo Electrónico: {{ user.email }}</p>
    <p>Teléfono: {{ user.telefono }}</p>
    <p>DPI: {{ user.dpi }}</p>
    <p>Fecha de Nacimiento: {{ user.fecha_nacimiento }}</p>
    <p>Nombre: {{ user.nombre }}</p>
    <p>Apellido: {{ user.apellido }}</p>
    <!-- Agrega otros campos de perfil aquí -->
</body>
</html>

