{% extends "ppaginas/baseperfil.html" %}

{% load static %}
{% block content %}

        <!-- Content Start -->
        <div class="">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="" class="" data-bs-toggle="dropdown">
                            <span class="d-none d-lg-inline-flex">
                            
                            {%if user.is_authenticated %} <!--Para verificar si esta dentro-->
                            {{User.username}} <!--Mostroar el nombre del usuario-->
                            
                            {% else %}

                            {% endif%}
                            </span><!--Nombre del usuario-->
                        </a>

                        <div class="btn btn-success">
                            <a href="{% url 'Estudiante'%}" class="dropdown-item">Inicio</a>

                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


              <h2>Agregar un Nuevo Curso</h2>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            
                <button type="submit">Agregar Curso</button>
              </form>

            


<!-- Table Start -->

<!-- Table End -->


{% endblock %}