{% extends "courses/basetable.html" %}

{% load static %}

{% block content %}

            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Segundo Semestre</h6>
                            <table class="table">
                                <thead>
                                    <tr> <!--Estructura de la tabla-->
                                        <th scope="col">Curso</th><!--1-->
                                        <th scope="col">Edificio</th><!--3-->
                                        <th scope="col">Precio</th><!--5-->
                                    </tr>
                                </thead>
                                {%for Curso in cursos %}
                                <tbody>
                                    <tr> <!--Datos para la tabla-->
                                        <th scope="row">{{Curso.Curso}}</th><!--1-->
                                        <td>{{Curso.Seccion}}</td><!--2-->
                                        <td>{{Curso.Edificio}}</td><!--3-->
                                        <td>{{Curso.Precio}}</td><!--4-->
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->

        {% endblock %}